# IDE
**/.vscode/
**/.idea/

# files
*.zip
*.ipynb
test_*.py
test*.csv
app.log
users_result.json

# cache
__pycache__/

# data
data/

*data_set.json
test_*.py
test*.csv

/dumps/*.xml
*.xml
